!/.idea/
!/.mvn/
!/target/
!/mvnw
!/mvnw.cmd
/task_one_replace_every_nth/target/
/task_one_replace_every_nth/.idea/
/task_one_replace_every_nth/.mvn/
/task_one_replace_every_nth/mvnw
/task_one_replace_every_nth/mvnw.cmd
/mvnw
/mvnw.cmd
/.idea/
/target/
/.mvn/
